[Unit]
Description=barhack daemon
After=network.target

[Service]
WorkingDirectory=/home/barhack
ExecStartPre=/bin/bash pre-start.sh
ExecStart=/usr/local/bin/node server/index.js

[Install]
WantedBy=default.target
